


body {
  background: white;
  padding-left: 10%;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: inline;
 // place-content: center;
  font-family: '-apple-system','HelveticaNeue';
  font-size: min(100%, 5vmin);

}

h1, p, body {
  margin: 0;
}

p, ul, li {
  font-family: "Dank Mono", ui-monospace, monospace;
  text-indent: 35px

}

html {
  block-size: 100%;
  inline-size: 100%;
}


