article {
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 // text-align: center;
}

h1 {
  font-size: 7vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);
  padding-left: 10%;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
 // place-content: center;
  font-family: system-ui;
  font-size: min(100%, 5vmin);

}

h1, p, body {
  margin: 0;
}

p, ul, li {
  font-family: "Dank Mono", ui-monospace, monospace;
  text-indent: 35px
}

html {
  block-size: 100%;
  inline-size: 100%;
}

summary {
    display: list-item;
}

